@media only screen and (max-width: 992px) {
	.item_img {
		height: 400px;
	}
	.slider_container {
		width: 75%;
	}
}
@media only screen and (max-width: 768px) {
	.item_img {
		height: 300px;
	}
	.item_text p {
		font-size: 25px;
	}
	.elementDot {
		width: 18px;
		height: 18px;
	}
	.arrow_left, .arrow_right { 
		margin: 0px 15px;
		width: 45px;
		height: 45px;
	}
	.container_dots {
		margin-top: 15px;
	}
	.icon_arrow_left, .icon_arrow_right {
		font-size: 34px;
	}
}
@media only screen and (max-width: 480px) {
	.slider_container {
		width: 95%;
	}
	.item_img {
		height: 200px;
	}
	.item_text p {
		font-size: 20px;
	}
	.elementDot {
		width: 16px;
		height: 16px;
	}
	.container_dots {
		margin-top: 10px;
	}
	.icon_arrow_left, .icon_arrow_right {
		font-size: 28px;
	}
	.arrow_left {
		position: absolute;
		left: 0;
		margin: 5px;
		transform: translateX(13px);
		width: 34px;
		height: 34px;
	}
	.arrow_right {
		position: absolute;
		right: 0;
		margin: 5px;
		transform: translateX(-13px);
		width: 34px;
		height: 34px;
	}
}
@media only screen and (max-width: 400px) { 
	.elementDot {
		width: 15px;
		height: 15px;
		margin: 0px 2px;
	}
	.icon_arrow_left, .icon_arrow_right {
		font-size: 25px;
	}
}